---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Connectal Project</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="alternate" type="application/atom+xml" title="Feed" href="/atom.xml" />
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    {% include google_analytics.html %}

  </head>

  <body>

    <div id="container">
      <div id="main">
        <h1>Connectal Project</h1>

    <div id="department">
    </div>
      <div id="intro">
<p>
Connectal consists of a fully-scripted tool-chain and a collection of libraries which can be used to develop production quality applica- tions comprised of software components running on CPUs
communicating with hardware components implemented in FPGA or ASIC.
</p>
<p>
The following goals are central to this endeavor:
<ul>
<li>Connect software and hardware by compiling interface declarations.</li>
<li>Enable concurrent access to hardware accelerators from software.</li>
<li>Enable high-bandwidth sharing of system memory with hardware accelerators.</li>
<li>Provide portability across platforms (CPU, OS, bus types, FPGAs).</li>
</ul>
</p>
<p style="text-align:right">
          <a href="https://github.com/cambridgehackers" class="btn btn-github"><span class="icon"></span>View Sourcecode on GitHub</a>
</p>
      </div>
      </div>

    <div id="documentation">
      <section id="main_content">
        <h2>
<a name="documentation" class="anchor" href="#documentation"><span class="octicon octicon-link"></span></a>Publications and Documentaton</h2>
      </section>
      <section id="documentation">
	<li><a href="connectal-fpga2015.pdf">FPGA 2015 paper describing the Connectal framework</a>
	<a href="fpga2015_connectal_presentation_v8final.pdf">(Presentation)</a></li>
	<li><a href="/doc/current/ref/">Connectal Framework Reference</a> (<a href="/doc/current/ref/connectal.pdf">PDF</a>)</li>
	<li><a href="http://www.instructables.com/id/Connectal/">A Collection of tutorials created using instructables</a></li>
      </section>
    </div>

    <div id="news">
      <section id="main_content">
        <h2>News</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h4>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
	{{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
</section>
</div>
    </div>
    
<a href="https://plus.google.com/117959521328494879184" rel="publisher">Google+</a>

  </body>
</html>
